@media only screen and (min-width: 60em) {
  nav {
    display: flex;
    flex-direction: row;
  }
  .accentColors {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .iconSection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
