/* SCSS HEX */
h1 {
  font-family: "urbane", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "urbane", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}

h3 {
  font-family: "urbane-rounded", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: "urbane", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h5 {
  font-family: "obliqua", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h6 {
  font-family: "obliqua", sans-serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "obliqua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "urbane-rounded", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #0b0205;
  color: white;
}

.header-logo {
  grid-column: 1/5;
  grid-row: 1;
  place-self: center;
  max-width: 100%;
  max-height: auto;
  margin: auto;
}

.nav {
  grid-row: 2;
  grid-column: 1/5;
  background-color: #0b0205;
  color: white;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-content: center;
  font-family: "urbane-rounded", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nav a {
  background-color: #908b8d;
  color: #0b0205;
  place-content: center;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  font-size: calc(1vw + 1vh + 1vmin);
  max-width: 100%;
  margin: 0;
  padding: 2px;
}

.nav a:hover {
  background-color: white;
  color: #0b0205;
}

.nav a.active {
  background-color: rgba(144, 139, 141, 0.8);
}

footer {
  background-color: #0b0205;
  color: white;
  text-align: center;
  padding: 1em;
  border-radius: 0.25em;
  font-family: "obliqua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footerLink {
  color: white;
  text-align: center;
  height: 2em;
  width: 100%;
  padding-top: 0.5em;
}

.footerLink:hover {
  background-color: white;
  color: #0b0205;
}

@media only screen and (min-width: 37.5em) {
  .header-logo {
    grid-column: 1/4;
    grid-row: 1;
  }
  .nav {
    grid-column: 4/5;
    grid-row: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 60em) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.nowPlayingCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  box-shadow: 0 4px 8px 0 #908b8d;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  background-color: #0b0205;
  color: white;
}

.nowPlayingDates {
  grid-row: 1;
  grid-column: 1/5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.nowPlayingTitle {
  grid-row: 3;
  grid-column: 1/5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.nowPlayingTagline {
  grid-row: 4;
  grid-column: 1/5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.genres {
  grid-row: 6;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
}

.nowPlayingGenres {
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.ratings {
  grid-row: 5;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.nowPlayingRating {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.nowPlayingRuntime {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.nowPlayingIMDB {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.nowPlayingTomatoes {
  grid-row: 1;
  grid-column: 4;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.nowPlayingCardImage {
  grid-row: 2;
  grid-column: 1/5;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}

.nowPlayingPoster {
  max-width: 100%;
}

.overviewContainer {
  grid-row: 7;
  grid-column: 1/5;
  margin-bottom: 0.5em;
}

.nowPlayingOverview {
  line-height: 1.5;
  height: 1.5 em;
  font-size: calc(1vw + 1vh + 1vmin);
  width: 99%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: height 0.3s;
}

.nowPlayingOverview:hover {
  height: auto;
  text-wrap: wrap;
  text-overflow: unset;
  overflow: visible;
}

.nowPlayingTrailer {
  grid-row: 8;
  grid-column: 1/5;
  place-self: center;
  max-width: 100%;
}

.comingSoonCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  box-shadow: 0 4px 8px 0 #908b8d;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  background-color: #0b0205;
  color: white;
}

.comingSoonDates {
  grid-row: 1;
  grid-column: 1/5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.comingSoonTitle {
  grid-row: 3;
  grid-column: 1/5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.comingSoonTagline {
  grid-row: 4;
  grid-column: 1/5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.genres {
  grid-row: 6;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
}

.comingSoonGenres {
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.ratings {
  grid-row: 5;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.comingSoonRating {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.comingSoonRuntime {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.comingSoonIMDB {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.comingSoonTomatoes {
  grid-row: 1;
  grid-column: 4;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}

.comingSoonCardImage {
  grid-row: 2;
  grid-column: 1/5;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}

.comingSoonPoster {
  max-width: 100%;
}

.overviewContainer {
  grid-row: 7;
  grid-column: 1/5;
  margin-bottom: 0.5em;
}

.comingSoonOverview {
  line-height: 1.5;
  height: 1.5 em;
  font-size: calc(1vw + 1vh + 1vmin);
  width: 99%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: height 0.3s;
}

.comingSoonOverview:hover {
  height: auto;
  text-wrap: wrap;
  text-overflow: unset;
  overflow: visible;
}

.comingSoonTrailer {
  grid-row: 8;
  grid-column: 1/5;
  place-self: center;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
