<header id="main-header">
  <div class="header">
    <img src="/images/theater_logo_new_2.svg" class="header-logo" alt="San Juan Theater Logo" />
    <nav class="nav">
      <a href="https://sanjuantheater.onrender.com/" target="_self" class="active" id="userGreeting">Hello, {{userName}}!</a>
      <a href="../pages/cart.html"><span class="header-icons fa-solid fa-cart-shopping"></span></a>
      <a href="../pages/manageMovies.html" target="_blank">Manage Movies</a>
      <a href="../pages/manageNews.html" target="News">Manage News</a>
      <a href="../pages/manageEvents.html" target="_blank">Manage Events</a>
      <a href="../pages/managePrices.html" target="_blank">Manage Prices</a>
      <a href="../pages/manageUsers.html" target="_blank">Manage Users</a>
      <a href="../pages/manageSurveys.html" target="_blank">Manage Surveys</a>
    </nav>
  </div>
</header>
