<header id="main-header">
  <div class="header">
    <img src="/images/theater_logo_new_2.svg" class="header-logo" alt="San Juan Theater Logo" />
    <nav class="nav">
      <a href="/" target="_self" class="active" id="userGreeting">Hello, {{userName}}!</a>
      <a href="/" target="home" class="active"><span class="header-icons fa-solid fa-house"></span></a>
      <a href="/login" target="login"><span class="header-icons fa-solid fa-user"></span></a>
      <a href="/pages/cart.html" target="cart"><span class="header-icons fa-solid fa-cart-shopping"></span></a>
      <a href="/pages/contact.html" target="contact"><span class="header-icons fa-solid fa-envelope"></span></a>
      <a href="/pages/contact.html" target="contact"><span class="header-icons fa-solid fa-phone"></span></a>
      <a href="/pages/about.html" target="about">About</a>
    </nav>
  </div>
</header>
