@import url('https://use.typekit.net/vem8cxz.css');

// fonts
$font-primary: 'ff-scala-sans-pro', sans-serif;
$font-primary-condensed: 'ff-scala-sans-pro-condensed', sans-serif;
$font-two: 'urbane-rounded', sans-serif;
$font-three: 'wreath', serif;
