.comingSoonCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  box-shadow: 0 4px 8px 0 rgba($color4, 1);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  @include colorCombo1;
}
.comingSoonDates {
  grid-row: 1;
  grid-column: 1 / 5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.comingSoonTitle {
  grid-row: 3;
  grid-column: 1 / 5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.comingSoonTagline {
  grid-row: 4;
  grid-column: 1 / 5;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.genres {
  grid-row: 6;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
}
.comingSoonGenres {
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.ratings {
  grid-row: 5;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.comingSoonRating {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.comingSoonRuntime {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.comingSoonIMDB {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.comingSoonTomatoes {
  grid-row: 1;
  grid-column: 4;
  text-align: center;
  font-size: calc(1vw + 1vh + 1vmin);
}
.comingSoonCardImage {
  grid-row: 2;
  grid-column: 1 / 5;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}
.comingSoonPoster {
  max-width: 100%;
}
.overviewContainer {
  grid-row: 7;
  grid-column: 1 / 5;
  margin-bottom: 0.5em;
}
.comingSoonOverview {
  line-height: 1.5;
  height: 1.5 em;
  font-size: calc(1vw + 1vh + 1vmin);
  width: 99%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: height 0.3s;
}
.comingSoonOverview:hover {
  height: auto;
  text-wrap: wrap;
  text-overflow: unset;
  overflow: visible;
}
.comingSoonTrailer {
  grid-row: 8;
  grid-column: 1 / 5;
  place-self: center;
  max-width: 100%;
}
