<div class="header">
  <img src="/images/movie_projector_gray.svg" class="header-left" alt="Movie Projector Icon" />
  <img src="/images/Theater_logo_new_2.svg" class="header-logo" alt="San Juan Theater Logo" />
  <nav class="nav">
    <a href="https://sanjuantheater.onrender.com/" target="home" class="active"><span class="header-icons fa-solid fa-house"></span></a>
    <a href="https://sanjuantheater.onrender.com/login"><span class="header-icons fa-solid fa-user"></span></a>
    <a href="/contact.html" target="Contact"><span class="header-icons fa-solid fa-envelope"></span></a>
    <a href="/contact.html" target="Contact"><span class="header-icons fa-solid fa-phone"></span></a>
    <a href="/history.html" target="History">About</a>
  </nav>
</div>
